<body>
  <div class="con" id="home">
      <div class="conn">
          <div class="pill-nav hide">
            <nav class="navbar navbar-expand-md fixed-top opaque-navbar">
                    <a class="navbar-brand" href="#home">  <h2>Elena<sub style="font-size: 11px;;">logo</sub></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0" >
                    <li class="nav-item">
                      <a class="nav-link scroll" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link scroll" href="#about">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link scroll" href="#service">Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link scroll" href="#work">Work</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link scroll" href="#team">Our Team</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link scroll" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link scroll" href="#contact">Contact</a>
                    </li>
                  </ul>
                </div>  
              </nav>
            </div>
            <div class="container-fluid hide1 fixed-top" style="background-color: #000">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn para" onclick="closeNav()">&times;</a>
                <a href="#home" class="abc"  onclick="closeNav()">Home</a>
                <a href="#about" class="abc"  onclick="closeNav()">About Us</a>
                <a href="#service" class="abc" onclick="closeNav()">Services</a>
                <a href="#work" class="abc"  onclick="closeNav()">Work</a>
                <a href="#team" class="abc"  onclick="closeNav()">Our Team</a>
                <a href="#blog" class="abc"  onclick="closeNav()">Blog</a>
                <a href="#contact" class="abc" onclick="closeNav()">Contact</a>
              </div>
              <span style="font-size:30px;cursor:pointer;color:#fff;" onclick="openNav()">&#9776;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                  <!-- <h3 style="margin-left:250px;font-style:oblique;font-family: Georgia, 'Times New Roman', Times, serif;font-weight: bolder;">Elena<sub style="font-size: 11px;;">logo</sub></h3> -->
            </div>
         
          <h1>ELENA<sub style="font-size: 11px;;">Creative Design</sub></h1>
         <div class="container"> <p class="head">If creating <b style="color:rgb(53, 224, 216);"> WOW!</b> is your mission, there is no place better than CompanyName.</p>
         </div>
          <div class="bg">
            <div class="row rr">
              <div class="col-lg-6 col-sm-6 column">
                <p class="p1"><i>Timeless form for a modern market</i></p>
                <p class="p2"><marquee>BRINGING DESIGN TO LIFE</marquee></p>
                <P class="p3">HARMONIZING THE STYLE & PERFORMANCE OF TRAVEL SINCE 1935</P>
            </div>
            <div class="col-lg-6 col-sm-6 column">
                <span id="spp"> <button class="btn info">GET STARTED</button></span>
              </div>
         </div>
        </div>
      </div>
  </div>
  
  <!-- WHO ARE WE -->
  <div class="container" id="about">
  <p class="wh">Who Are We?</p>
  <hr>
  <p class="mo">MODERN DIGITAL AGENCY</p>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quae fugit possimus ea saepe! 
      Incidunt atque earum perferendis, voluptatibus ullam impedit laborum,unde maiores minus, 
      vitae tempore nisi eligendi officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate qui neque quidem, fuga tenetur repellat incidunt quae iusto fugit consequuntur ipsa dignissimos voluptatibus voluptatem? Placeat aut eligendi a harum veritatis!
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <h6>PHOTOSHOP</h6>
        <div class="cont">
          <div class="skills html">86%</div>
        </div>
        <h6>WORDPRESS</h6>
        <div class="cont">
          <div class="skills css">95%</div>
        </div>
        <h6>ADOBE PREMIERE</h6>
        <div class="cont">
          <div class="skills js">78%</div>
        </div>
    </div>
  </div>
</div>

<!-- grid -->
<div class="container">
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 colu">
    <img src="../assets/image/img1.jpg">
    <h6  style="font-weight: bold;">CREATING CONNECTIONS</h6>
    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, repellendus aliquid. Voluptatem sit earum inventore.</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 colu">
    <img src="../assets/image/img2.jpg">
    <h6  style="font-weight: bold;">BEING CREATIVE</h6>
    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, repellendus aliquid. Voluptatem sit earum inventore.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 colu">
      <img src="../assets/image/img3.jpg">
      <h6 style="font-weight: bold;">FINGER ON THE PLUSE</h6>
    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, repellendus aliquid. Voluptatem sit earum inventore.</p>
      </div>
</div>
</div>

<!-- score -->
<div class="gri1">
<div class="gri">
  <div class="row r">
    <div class="col-lg-3 col-md-3 col-sm-6 colll">
        <i class="far fa-smile-beam"></i>
        <div class="fon">
        <p class="pp1" >25000</p>
        <P class="pp11">Happy Customers</P>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 colll">
        <i class="fas fa-atlas"></i>
        <div class="fon">
        <p class="pp2">10200</p>
        <P class="pp12">Globel Partnership</P>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 colll">
          <i class="fas fa-award"></i>
          <div class="fon">
          <p class="pp3">50680</p>
          <P class="pp13">Achievements</P>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 colll">
            <i class="fas fa-route"></i>
            <div class="fon">
            <p class="pp4">39200</p>
            <P class="pp14">Miles Travel</P>
            </div>
          </div>
  </div>
  </div>
  </div>

  <!-- what we can do -->
  <div id="service">
<p class="wh"> What We Can Do</p>
<hr>
<p class="mo">OUR SERVICES</p>
<div class="container co">
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="row">
     <i class="fas fa-desktop"></i>
     <h6 class="hh"  style="font-weight: bold;">WEB & MOBILE DESIGN</h6>
       <p class="pd" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.Perspiciatis delectus iusto cupiditate laborum dolore similique nostrum.</p>
     </div>
     <div class="row">
        <i class="far fa-lightbulb"></i>
        <h6 class="hh1" style="font-weight: bold;">BRANDING</h6>
       <p class="pd" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quas, harum nostrum ipsa autem quam.</p>
       </div>
       <div class="row">
          <i class="fas fa-globe"></i>
          <h6 class="hh2" style="font-weight: bold;">SOCIAL MEDIA</h6>
          <p class="pd" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quas, harum nostrum ipsa autem quam.</p>
         </div>
         <div class="row">
            <i class="fas fa-dumpster"></i> 
            <h6 class="hh" style="font-weight: bold;">ECOMERECE</h6>
            <p class="pd" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.Perspiciatis delectus iusto cupiditate laborum dolore similique nostrum.</p>
        </div> 
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
<img class="phn" src="../assets/image/phn.jpg">  
</div>
</div>
</div>
</div>
<!-- Our work -->
<div class="work" id="work">
  <div class="ourw">
      <button class="btn1">OUR WORK</button>
  </div>
</div>

<!-- Work Gallery -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card">
            <img src="../assets/image/img9.jpg">
              <h6 class="h61">INSTANTSNAPPER IPHONE APP</h6> 
              <p class="ow1">BRANDING/VIDEO</p> 
              <button class="btn11">Veiw Project</button>
          </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card">
            <img src="../assets/image/img10.jpg">
          
                <h6 class="h61">FLAT STROK ICON SET</h6> 
                <p class="ow1">GRAPHIC DESIGN/PRINT</p> 
                <button class="btn11">Veiw Project</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
              <img src="../assets/image/img11.jpg">
             
                  <h6 class="h61">LOGO DESIGN 2014</h6> 
                  <p class="ow1">BRANDING/GRAPHIC DESIGN</p> 
                  <button class="btn11">Veiw Project</button>
            </div>
        </div>
  </div>
  <div class="row ro1">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card">
            <img src="../assets/image/img12.jpg">
                <h6 class="h61">SOLO PINE WEBSITE</h6> 
                <p class="ow1">GRAPHIC DESIGN/PRINT</p>
                <button class="btn11">Veiw Project</button>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
              <img src="../assets/image/img13.jpg">
                  <h6 class="h61">FOOD CENTER NYC</h6> 
                  <p class="ow1">BRANDING/GRAPHIC DESIGN</p>
                  <button class="btn11">Veiw Project</button>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="card">
                <img src="../assets/image/img14.jpg">
                    <h6 class="h61" >WEDDING DECORATION</h6> 
                    <p class="ow1">BRANDING/VIDEO</p> 
                    <button class="btn11">Veiw Project</button>
              </div>
          </div>
    </div>
    <div class="row ro1">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card">
              <img src="../assets/image/img15.jpg">
                  <h6 class="h61">PHOTOSHOOT WITH JOHN DOE</h6> 
                  <p class="ow1">BRANDING/VIDEO</p> 
                  <button class="btn11">Veiw Project</button>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="card">
                <img src="../assets/image/img16.jpg">
                    <h6 class="h61">ALBUM COVER FOR FOO FIGHTERS</h6> 
                    <p class="ow1">BRANDING/GRAPHIC DESIGN</p>
                    <button class="btn11">Veiw Profile</button>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="card">
                  <img src="../assets/image/img17.jpg">
                      <h6 class="h61">MAKING OF HERO</h6> 
                      <p class="ow1">BRANDING/VIDEO</p>
                      <button class="btn11">Veiw Profile</button>
                </div>
            </div>
      </div>
</div>

<!-- team review -->
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="caro1"  src="../assets/image/caro1.jpg" alt="Los Angeles">
          <div class="carousel-caption">
            <h5 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;"><i class="fas fa-quote-left"></i>&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.
              &nbsp;&nbsp;<i class="fas fa-quote-right"></i></h5>
              <p class="ph">FULL NAME, DESIGNATION</p>
          </div>   
    </div>
      <div class="carousel-item">
        <img class="caro1"  src="../assets/image/caro1.jpg" alt="Chicago">
        <div class="carousel-caption">
            <h5 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;"> <i class="fas fa-quote-left"></i> &nbsp;&nbsp; Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.&nbsp;&nbsp; <i class="fas fa-quote-right"></i></h5>
           <p class="ph">FULL NAME, DESIGNATION</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img class="caro1" src="../assets/image/caro1.jpg" alt="New York">
        <div class="carousel-caption">
            <h5 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;"><i class="fas fa-quote-left"></i>&nbsp;&nbsp; Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum. &nbsp;&nbsp;
                <i class="fas fa-quote-right"></i></h5>
                <p class="ph"> FULL NAME, DESIGNATION</p>
        </div>   
      </div>
    </div>
  </div>

  <!-- meet our team -->
  <div class="container" id="team">
      <p class="wh">MEET THE TALENT</p>
      <hr>
      <p class="mo">MEET THE TEAM</p>
      <div class="row r1">
          <div class="col-lg-3 col-md-3 col-sm-6 coo">
            <img class="im" src="../assets/image/img18.jpg">
            <h6  style="font-weight: bold;">FULL NAME</h6>
            <P class="ow11">DESIGNATION</P>
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, repellendus Voluptatem sit earum inventore.</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 coo">
            <img class="im" src="../assets/image/img19.jpg">
            <h6  style="font-weight: bold;">FULL NAME</h6>
            <P class="ow11">DESIGNATION</P>
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, repellendus Voluptatem sit earum inventore.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 coo1">
              <img class="im" src="../assets/image/img20.jpg">
              <h6 style="font-weight: bold;">FULL NAME</h6>
              <P class="ow11">DESIGNATION</P>
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, repellendus Voluptatem sit earum inventore.</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 coo1">
                  <img class="im" src="../assets/image/img21.jpg">
                  <h6 style="font-weight: bold;">FULL NAME</h6>
                  <P class="ow11">DESIGNATION</P>
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, repellendus Voluptatem sit earum inventore.</p>
                  </div>
        </div>
  </div>

  <!-- BLOG SECTION -->
  <div id="blog">
      <p class="wh">LASTEST FROM THE BLOG</p>
      <hr>
      <p class="mo">THE BLOG</p>
      <div class="container-fluid">
          <div class="d-flex flex-row flex-wrap justify-content-center">
              <div class="d-flex flex-column">
                <div class="card cd">
                  <img class="im1" src="../assets/image/img22.jpg">
                  <h6 class="h61">Disclosure- You & Me Flume Remix</h6> 
                  <p class="ow1">MUSIC</p> 
                  <p style="text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid obcaecati, laboriosam ipsam nulla neque libero repellat possimus alia.</p>
                </div>
                <div class="card cd">
                  <img class="im1" src="../assets/image/img25.jpg">
                  <h6 class="h61">Ellie Goulding - High For ThisS</h6> 
                  <p class="ow1">MUSIC</p> 
                  <p style="text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid obcaecati, laboriosam ipsam nulla neque libero repellat possimus alia.</p>
              </div>
              </div>
              <div class="d-flex flex-column">
                  <div class="card cd1">
                  <img class="im1" src="../assets/image/img23.jpg">
                  <h6 class="h61">How To Make A Best Drink</h6> 
                  <p class="ow1">FOOD & HEALTH</p> 
                  <p style="text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid obcaecati, laboriosam ipsam nulla neque libero repellat possimus alia.</p>
                  </div>
                  <div class="card cd1">
                  <img class="im1" src="../assets/image/img26.jpg">
                  <h6 class="h61">Explore The Beautiful Northwegian Fjords</h6> 
                  <p class="ow1">TRAVEL</p> 
                  <p style="text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid obcaecati, laboriosam ipsam nulla neque libero repellat possimus alia.</p>
              </div>
              </div>
              <div class="d-flex flex-column">
                  <div class="card cd2">
                  <img class="im1" src="../assets/image/img24.jpg">
                  <h6 class="h61">Best Photography Of 2014</h6> 
                  <p class="ow1">TRAVEL</p> 
                  <p style="text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid obcaecati, laboriosam ipsam nulla neque libero repellat possimus alia.</p>
                    </div>
                    <div class="card cd2">
                  <img class="im1" src="../assets/image/img27.jpg">
                  <h6 class="h61">Homemade Italian Style Gorgonzola Pizza Receipe</h6> 
                  <p class="ow1">FOOD & HEALTH</p> 
                  <p style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid obcaecati, laboriosam ipsam nulla neque libero repellat possimus alia.</p>
              </div>
              </div>
          </div>
      </div>
</div>

   <!-- FOOTER -->
   <footer id="contact">
   <div class="container">
     <div class="row">
       <div class="col-lg-3 col-md-3 col-sm-3 coll">
        <p>GENERAL</p>
        <hr class="hrr">
       <p> <i class="far fa-envelope"></i> &nbsp;&nbsp; contact@company.com</p>
      <p> <i class="fas fa-phone-alt"></i> &nbsp;&nbsp;+1(555)295-5555</p>
      <p><i class="fas fa-globe-americas"></i> &nbsp;&nbsp;www.company.com</p>
     <div class="stc">
      <p class="sta">STAY CONNECTATED</p>
      <hr class="hrr">
      <i class="fab fa-facebook"></i> 
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-pinterest"></i>
      </div>
       </div>
       <hr class="hr11">
       <div class="col-lg-3 col-md-3 col-sm-3 coll">
         <p class="com">COMPANY NAME</p>
         <hr class="hrr">
         <p><i class="fas fa-globe-americas"></i> &nbsp;&nbsp;Malang, east jawal, Indonesia</p>
         <p> <i class="fas fa-home"></i> &nbsp;&nbsp;Slicon Valley, California USA</p>  
        </div>
        <hr class="hr11">
        <div class="col-lg-6 col-md-6 col-sm-6">
          
         <p class="cl">CONTACT US</p>
         <hr class="hrr">
    <form>
            <div class="row">
              <div class="col-sm-6">
            <input type="text" name="name" class="form-control" placeholder="Name" width="50%" >
              </div>
              <div class="col-sm-6">
              <input type="text" name="email" class="form-control ff" placeholder="Email">
                </div>
            </div>
            <br>
          <input type="text" name="name" class="form-control" placeholder="Subject">
          <br>
          <textarea name="textarea" id="textarea" cols="40" rows="5" class="form-control" placeholder="Your Message" ></textarea>
        <br>
        <button class="btn btn111">Send Message</button>
      </form>
      <div class="icon">
          <i class="fab fa-facebook"></i> 
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-pinterest"></i>
      </div>
          </div>
     </div>
   </div>
   <hr class="hr1">
   <p class="fo">Made with <i class="fas fa-heart"></i> in @companyname</p>
   <p class="cop" style="text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: normal;">©2014 SOLO PINE DESIGN - ALL RIGHTS RESERVED</p>
   </footer>

</body>

<router-outlet></router-outlet>